.department-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.department-header h1, .page-header {
  font-size: 24px;
  color: #001f5b;
  margin-right: 10px; /* Adiciona um pequeno espaço entre o nome e as ações */
}

.page-header {
  margin-left: 10px;
}

.search-bar {
  margin: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 2px solid #001f5b;
  border-radius: 50px;
}

.bi-search {
  color: #001f5b;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.employee-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.employee-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employee-photo {
  width: 50px;
  height: 50px;
  background-color: #001f5b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  overflow: hidden; /* Garante que a imagem não ultrapasse o espaço */
}

.employee-photo span {
  font-size: 10px;
  font-weight: 600;
}

.employee-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra todo o espaço, mantendo a proporção */
  object-position: center; /* Alinha a imagem ao centro, caso seja maior do que o espaço reservado */
}


.employee-details {
  flex: 1;
  margin-left: 15px;
}

.employee-details p {
  margin: 5px 0;
  font-size: 14px;
}

.employee-actions {
  display: flex;
  gap: 10px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.bi-pencil-fill,
.bi-trash3-fill {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bi-pencil-fill {
  background-color: #001f5b;
}

.bi-pencil-fill:hover {
  background-color: #fff;
  color: #001f5b;
  border: 2px solid #001f5b;
}

.bi-trash3-fill {
  background-color: rgb(216, 0, 0);
}

.bi-trash3-fill:hover {
  background-color: #fff;
  color: rgb(216, 0, 0);
  border: 2px solid rgb(216, 0, 0);
}
